<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467383920618-hcdqrbs5o795448rbq5shfb2u1g787c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467383920618-hcdqrbs5o795448rbq5shfb2u1g787c3</string>
	<key>API_KEY</key>
	<string>AIzaSyBL1467-iQSaVdvO3RoEkx033BJNfjEwJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>467383920618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>project1-b0a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-b0a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467383920618:ios:e594eb603b1255e416b493</string>
</dict>
</plist>